{% extends 'core/base.html' %}
{% load static %}


{% block contenido %}

<!-- quienes somos -->

<div class="container">
    <!-- Example row of columns -->

    <h4 style="position: initial;font-size: 40px;font-weight: 600;letter-spacing: 1px;"
        class="title text-center pb-md-3 mb-3">Quienes
        <span style="color: #413e66;"> somos?</span></h4>

    <div class="row">
        <div class="col-md-4">
            <h2>Visión</h2>
            <p>Quiñones & Villa Associated Lawyers para el año 2025 será una firma reconocida por la calidad en sus
                servicios y la oportunidad de la información.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
            <h2>Historia</h2>
            <p>Quiñones & Villa Associated Lawyers es una firma que nace en Barranquilla - Colombia, como un proyecto
                personal paralelo al que hacer profesional de Jaime Quiñones, ofreciendo soluciones juridicas y
                contables que le permitan a sus clientes mejorar continuamente sus procesos.

                En nuestra historia reciente, se adhieren a este proyecto profesionales calificados, con integridad
                ética y moral, que aportan su trayectoria laboral para prestar el mejor servicio.

                Nos debemos a nuestros clientes y por esta razón siempre buscamos que nuestro trabajo refleje la
                rectitud y transparencia con la que prestamos nuestro servicio.

                Estamos siempre disponibles para atender sus solicitudes e inquietudes. </p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
        <div class="col-md-4">
            <h2>Misión</h2>
            <p>La razón de ser de Quiñones & Villa Associated Lawyers es ofrecer soluciones Jurídicas y Contables;
                detectando riesgos, evitando sanciones y reprocesos, optimizando los recursos disponibles e innovando
                para mejorar continuamente los procesos de nuestros clientes.</p>
            <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
        </div>
    </div>

    <hr>

</div> <!-- /container -->


<!-- trabajos realizados     -->
<!-- <section class="w3l-specifications-9">
    <div style="background: #324C68;" class="main-w3 py-5" id="stats">
        <div class="container py-md-3">

            <div class="main-cont-wthree-fea row ">
                <div class="grids-speci1 col-lg-3 col-6">
                    <div style="background: #324C68;color: white;" class="spec-2 text-center">
                        <i style="font-size: 30px;color:#f1cf69" class="fas fa-hourglass"></i>
                        <h3 class="title-spe">5.600</h3>
                        <p style="color: white;">Horas de trabajo</p>
                    </div>
                </div>
                <div class="grids-speci1 midd-eff-spe col-lg-3 col-6">
                    <div style="background: #324C68;color: white;" class="spec-2 text-center">
                        <i style="font-size: 30px;color:#f1cf69" class="fas fa-folder"></i>
                        <h3 class="title-spe">13</h3>
                        <p style="color: white;">Proyectos Activos</p>
                    </div>
                </div>
                <div class="grids-speci1 las-but col-lg-3 col-6  mt-lg-0 mt-4">
                    <div style="background: #324C68;color: white;" class="spec-2 text-center">
                        <i style="font-size: 30px;color:#f1cf69" class="fas fa-smile"></i>
                        <h3 class="title-spe">163</h3>
                        <p style="color: white;">Clientes Satisfechos</p>
                    </div>
                </div>
                <div class="grids-speci1 las-t col-lg-3 col-6  mt-lg-0 mt-4">
                    <div style="background: #324C68;color: white;" class="spec-2 text-center">
                        <i style="font-size: 30px;color:#f1cf69" class="fas fa-users"></i>
                        <h3 class="title-spe">69 </h3>
                        <p style="color: white;">Usuarios Suscritos</p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- //specifications -->
</section> -->

<!-- suscribirse -->

<div class="subscribe-info-w3l text-center py-5">
    <div class="container py-xl-5 py-lg-3">
        <h4 style="position: initial;font-size: 40px;font-weight: 600;letter-spacing: 1px;"
            class="title text-center pb-md-3 mb-3">Suscríbete
            <span style="color: #413e66;"> ahora</span></h4>
        <p class="mb-5">Ingresa tu correo electrónico y recibe periódicamente nuestros contenidos y ofertas</p>
        <form action="" method="post">
            <input type="email" name="correo" placeholder="Ingresa correo electrónico" required="">
            <!-- <input name="btn_suscrito" style="background: #324C68;border: 1px solid #324C68;" type="submit"
                value="Enviar"> -->
            <button class="btn">Enviar</button>
        </form>
    </div>
</div>



{% endblock %}