{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}

<div class="container-fluid">

    <header class="section-header">
        <h3>{{object.nombre}}</h3>
        <p>{{object.descripcion}}</p>

    </header>
</div>

<!-- mas servicios -->

<section id="why-us" class="wow fadeIn">
    <div class="container-fluid">

        <header class="section-header">
            <h3>Mas Servicios</h3>
            <p>Contamos con especialistas en diferentes áreas tanto jurídicas como contables.</p>
        </header>

        <div class="row">

            <div class="col-lg-8">

                <div class="why-us-content">
                    <h4>Servicios jurídicos </h4>
                    <p>Ofrecemos una atención personalizada e integral, brindando soluciones jurídicas. Prácticas,
                        dinámicas y confiables. ¡Llámanos! Abogados Civiles. Servicios: Abogados Laborales, Sports &
                        Entertainment, Extinción de dominio, Abogados Civiles, Abogados Inmobiliarios.</p>

                    <div class="features wow bounceInUp clearfix">
                        {% for servicio in juridico %}

                        {% if servicio.imagen %}
                        <div class="redimencionar">
                            <i><img src="{{servicio.imagen.url}}" alt=""></i>
                        </div>
                        {% else %}
                        <div class="redimencionar">
                            <i><img src="{% static 'rapi/img/default_services.png' %}" alt=""></i>
                        </div>
                        {% endif %}
                        <a href="{% url 'service_detail' servicio.id %}">
                            <h4>{{servicio.nombre}}</h4>
                            <p>{{servicio.descripcion}}</p>
                        </a>
                        {% endfor %}
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="why-us-content">
                    <h4>Servicios contables</h4>
                    <p>Nuestro servicio Contable e Impuestos involucra el diseño de la organización contable con el fin
                        de ajustar el mantenimiento de registros y presentación de informes a sus necesidades, mientras
                        se esfuerza por aumentar la eficacia de la función contable en su negocio.</p>

                    <div class="features wow bounceInUp clearfix">
                        {% for servicio in contable %}
                        {% if servicio.imagen %}
                        <div class="redimencionar">
                            <i><img src="{{servicio.imagen.url}}" alt=""></i>
                        </div>
                        {% else %}
                        <div class="redimencionar">
                            <i><img src="{% static 'rapi/img/default_services.png' %}" alt=""></i>
                        </div>
                        {% endif %}
                        <h4>{{servicio.nombre}}</h4>
                        <p> {{servicio.descripcion}}</p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="container">
        <div class="row counters">

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">274</span>
                <p>Clientes</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">421</span>
                <p>Proyectos</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">1,364</span>
                <p>Horas de Soporte</p>
            </div>

            <div class="col-lg-3 col-6 text-center">
                <span data-toggle="counter-up">18</span>
                <p>Asesores</p>
            </div>

        </div>

    </div>
</section>

{% endblock %}