{% extends 'core/base.html' %}
{% load static %}

{% block contenido %}


<section class="ingenieria py-4  text-center text-white">
    <div class="container bg-primary">
        <div class="row">
            <div class="col-12 text-center pt-3">
                <h1 class="display-5 text-center text-white"><strong>{{object.nombre}}</strong></h1>
                <p class="h4">{{object.descripcion}}</p> <br>



                <ul class="list-unstyled text-left">
                    <p class="h4 text-center"> <strong>Las principales áreas de práctica del departamento son:</strong>
                    </p>


                    <li>
                        <ul>
                            {% for tip in caracteristica %}
                            <li> {{tip.nombre}}</li>
                            {% endfor %}
                        </ul>
                    </li>

                </ul>






            </div>
        </div>
    </div>
</section>





<!-- Services Section
============================-->
<section class="servicios py-4">
    <div class="container-fluid">

        <h1 class="display-5 text-center text-primary"><strong>Nuestros Servicios</strong></h1>


        <div class="row text-center">

            {% for servicio in juridico %}
            <article class="col-12 col-md-6 mb-3 wow bounceInUp" data-wow-duration="1.4s">


                <div class="card">
                    {% if servicio.imagen %}
                    <div class="redimencionar">
                        <i><img src="{{servicio.imagen.url}}" class="card-img-top mt-2" alt="{{servicio.nombre}}"></i>
                    </div>
                    {% else %}
                    <div class="redimencionar">
                        <i><img src="{% static 'rapi/img/default_services.png' %}" class="card-img-top mt-2"
                                alt="{{servicio.nombre}}"></i>
                    </div>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title h3"><strong>{{servicio.nombre}} {{servicio.id}}</strong> </h5>


                        <p class="card-text">{{servicio.descripcion}}</p>

                        <!-- {{ caracteristica.all|join:', <br> '}} <br> -->



                        <a href="{% url 'service_detail' servicio.id %}" class="btn btn-primary"> ¡Te llamamos!</a>
                        <a href="{% url 'service_detail' servicio.id %}" class="btn btn-secondary">Contáctanos</a>
                    </div>
                </div>

            </article>
            {% endfor %}

        </div>


        <h1 class="display-5 text-center text-primary"><strong>Otros Servicios</strong></h1>
        <div class="row text-center">

            {% for servicio in contable %}
            <article class="col-12 col-md-4 col-lg-3 mb-3 wow bounceInUp" data-wow-duration="1.4s">


                <div class="card">
                    {% if servicio.imagen %}
                    <div class="redimencionar">
                        <i><img src="{{servicio.imagen.url}}" class="card-img-top mt-2" alt="{{servicio.nombre}}"></i>
                    </div>
                    {% else %}
                    <div class="redimencionar">
                        <i><img src="{% static 'rapi/img/default_services.png' %}" class="card-img-top mt-2"
                                alt="{{servicio.nombre}}"></i>
                    </div>
                    {% endif %}

                    <div class="card-body">
                        <h5 class="card-title h3"><strong>{{servicio.nombre}}</strong> </h5>
                        <p class="card-text">{{servicio.descripcion|truncatechars:250}}</p>
                        <a href="{% url 'service_detail' servicio.id %}" class="btn btn-primary">Ver Más</a>
                    </div>
                </div>

            </article>
            {% endfor %}

        </div>


    </div>
</section>

{% endblock %}